.basketcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem 0rem 1.5625rem 0rem;
    max-width: 100%;
    border: 0.1rem solid var(--main-black);
    justify-content: center;
}

.shopping-cart {
    width: 50%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid #000;
    background-color: var(--main-whitecolor);
    
}

.title-cart {
    font-size: large;
    padding-top: 0.35rem;
    line-height: 0.6rem;
    font-family: Poppins;
    font-weight: 500;
    color: var(--main-black);
}

.action {
    font-size: x-small;
    padding-top: 0.35rem;
}

.items {
    padding: 1.25rem 0 1.25rem 0;
    margin-top: 0.1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid #000;
    background-color: var(--main-whitecolor);
}

.basketitems{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-box{
    display: flex;
    width: 15%;
    text-align: center;
    height: 100%; 
}
.itemsummary{
    display: flex;
    height: 100%;
 }
.sizeinfo{
    padding-left: 0.35rem;
    padding-top: 0.35rem;
    line-height: 0.6rem;
    font-size: small;
    font-family: Poppins;
    font-weight: 500;
    color: #909090;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}
.adjustbtn{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 20%;
	background-color: var(--main-bluecolor);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: var(--main-whitecolor);
	cursor: pointer;
}

.prices {
    height: 100%;
    text-align: right;
}