.cart-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
/* styling for main container on page */
.basketcontainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem 1.5625rem 0rem;
  width: 60rem;
}
/* styling for header of cart*/
.shopping-cart {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem 0 0.4rem;
}
.title-cart {
  font-size: large;
  padding-top: 0.35rem;
  line-height: 0.6rem;
  font-family: Poppins;
  font-weight: 500;
  color: var(--main-black);
}
/* styling for all items in the cart */
.items {
  padding: 0.5rem 0 1.25rem 0;
  margin: 0.1rem 1rem 0.1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-whitecolor);
  border-radius: 0.5rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem 0.3125rem rgba(7, 7, 7, 0.75);
}

.basketitems {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0 0.5rem;
}

.itemcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0.1rem 0;
}
.image-box {
  display: flex;
  width: 15%;
  text-align: center;
  height: 100%;
}
.title-item {
  font-size: small;
  font-weight: 500;
  padding: 0 0.2rem 0 0.8rem;
}
.sizeinfo {
  padding-left: 0.25rem;
  padding-top: 0.35rem;
  line-height: 0.6rem;
  font-size: small;
  font-family: Poppins;
  font-weight: 500;
  color: #909090;
}
.action {
  font-size: x-small;
  padding-top: 0.35rem;
  cursor: pointer;
  text-decoration: underline;
}

.itemsummary {
  display: flex;
}

.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countsum {
  font-size: 1rem;
  color: var(--main-black);
  padding: 0 0.2rem 0 0.2rem;
}
.adjustbtn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20%;
  background-color: var(--main-bluecolor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 900;
  color: var(--main-whitecolor);
  cursor: pointer;
}

.prices {
  height: 100%;
  text-align: right;
}

.totalwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 0.1rem solid var(--main-bluecolor);
  margin-top: 1rem;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.totalitems {
  font-size: 0.8rem;
  font-weight: 800;
  color: #202020;
  padding-left: 1rem;
}
.subtotal {
  font-size: 1.2rem;
  font-weight: 500;
  color: #909090;
  padding-left: 4rem;
}

.checkout-btn {
  max-width: 14rem;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}
.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}