/* diffrent screen sizes styling goes here */

@media (max-width: 800px) {
	.full-wrap {
		margin: 1.3rem 0 0 0;	
	}
	.small-wrapper {
	  flex-direction: column;
	}
	.col-65 {
		margin-bottom: 1.25rem;
	}
	.col-23 {
		padding: 0;
	}
	.footer {
        display: flex;
        height: 10vh;
    }

	.both-container {
        max-width: 20rem;
    }
	.outlet-header-text {
        max-width: 25rem;
    }
    .jacket-card {
        max-width: 100%;
    }
    .buy-btn {
        width: 12rem;
    }
  }
@media (max-width: 1050px) {
	.col-23 {
		margin: 3rem 0 2rem 0;
	  }
    .jacket-card {
        width: 70%;
        display: flex;
    }
    .jacket-preview {
        max-width: 90%;
    }
    .horisontal-nav,
    .quick-nav,
    .logo-desktop,
    .mobile-hide {
        display: none;
    }
    .logo-mobile,
    .mobile-nav,
    .desktop-hide {
        display: block;
    }
    .header {
        flex-direction: column;
    }
    .container-fluid {
        width: 80%;
        padding: 1rem 0;
    }
    .preview-products {
        padding: 1rem 0;
        align-items: center;
    }
    .card {
        width: 70%;
        display: flex;
    }
    .menu ul {
        z-index: 1000;
        margin-top: 0.1rem;
        display: block;
        max-height: 0;
        overflow: hidden;
        list-style-type: none;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
        background-color: var(--main-bluecolor);
        border-radius: 0.5rem;
        position: absolute;
        top: 50px;
        right: 10px;
        width: 50%;
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.7);
    }
    .menu ul a {
        display: block;
        text-align: left;
        color: var(--main-whitecolor);
        font-size: 1.5rem;
        padding: 1rem;
    }
    .menu-icon {
        width: 2.5rem;
        height: inherit;
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        cursor: pointer;
    }
    #menuToggle:checked~ul {
        max-height: 350px;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
    .mobile-nav {
        margin-bottom: 4rem;
    }
    .user-container {
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .left-side {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-radius: 0;
    }
    .right-side {
        max-width: 90%;
        border-bottom-left-radius: 1.5rem;
        padding: 0.5rem 3rem 3rem 2rem;
        border-radius: 0;
    }
    .expire-cvc {
        flex-flow: column;
    }
    .exp-text {
        justify-items: flex-start;
    }
}