* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  width: auto;
  padding: 12px;
  color: var(--main-black);
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 6px 6px 6px 6px;
  user-select: none;
}
.arrowSlider {
  text-align: center;
}

.forward {
  /* right: 0; */
  border-radius: 6px 6px 6px 6px;
}

/*when the user hovers arrows */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.5);
  
}
/* The page circles */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: var(--main-black);
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
