.jacket-preview {
	display: flex;
	flex-flow: row wrap;
	cursor: pointer;
	justify-content: center;
	margin: 1.5rem 0rem 1.5625rem 0rem;
	gap: 1rem;
	max-width: 100%;
}

.jacket-card {
	background-color: var(--main-whitecolor);
  display: flex;
  flex-direction: column;
  border: 0.125rem solid var(--main-black);
  box-shadow: 0.3125rem 0.3125rem 0.625rem 0.3125rem rgba(7, 7, 7, 0.75);
  padding-bottom: 2rem;
  max-width: 50%;
}
#size {
  background-color: var(--main-grey);
  display: block;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.1rem solid var(--main-black);
  text-align: center;
}

#add-to-cart, .cart {
	display: none;
  }
  
  label:hover {
	cursor: pointer;
  }
  
  .cart {
	border: 1px solid var(--main-black);
	position:static;
	right: 10px;
	padding: 10px;
	margin-top: 0.9rem;
	background: var(--main-grey);
  }
  
  #add-to-cart:checked ~ .cart {
	display: block;
  }
.buy-btn{
  background: linear-gradient(135deg, #0a3641 5%, #298096 90%);
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 14rem;
  letter-spacing: 0.11rem;
  outline: none;
  transition: 0.2s;
  box-shadow: 3px 3px 6px #38373785;
  text-align: center;
}
.buy-btn:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
  cursor: pointer;
}