@import url("https://fonts.googleapis.com/css?family=Poppins:500,400,300,200|Montserrat:500,500italic");
:root {
  --main-bluecolor: #0a3641;
  --main-whitecolor: #ffffff;
  --main-black: #000;
  --main-grey: #f2f2f2;
  --main-red: #a60000;
}
/* styles for removing all native margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling goes here */
html,
body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bluecolor);
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  overflow: hidden;
  background-image: url(../images/pexels-vraj-shah-924831.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* background: transparent; */
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

a {
  text-decoration: none;
}
main {
  flex: 1 0 auto;
  overflow-y: auto;
  height: 0px;
}
p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.8rem 0;
  padding-left: 0.5rem;
  
}
a {
  text-decoration: none;
  color: var(--main-whitecolor);
}
label:hover {
  cursor: pointer;
}
.fa-star-of-life {
  color: var(--main-red);
  font-size: 0.65rem;
}
.header {
  background-color: var(--main-whitecolor);
  display: flex;
  border-bottom: 1px solid var(--main-bluecolor);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/* logo styling here */
.logo-desktop {
  display: flex;
  align-items: flex-start;
}
.logo-mobile {
  display: none;
}
.logo-lg {
  width: 12rem;
}
.logo-sm {
  width: 10rem;
}
/* center container styling */
.container-fluid {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

/* search bar styling here */
.search-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.search-field {
  width: 100%;
  margin: 0.3rem;
}

.search-field i {
  position: absolute;
}

.search-input {
  width: 100%;
  color: #ffffff;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #0a3641;
  background-color: #0a3641;
}

.icon {
  padding: 13px;
  width: 70px;
  color: rgb(255, 255, 255);
}
/* menu and nav styling */
.nav-container {
  /* display: block; */
  width: 60%;
  max-width: 480px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu ul {
  margin-bottom: 0.5rem;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  list-style: none;
}
.menu ul a {
  color: var(--main-black);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}
.menu ul a:hover {
  color: var(--main-whitecolor);
  border-radius: 0.5rem;
  background-color: var(--main-bluecolor);
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}
.quick-nav {
  padding-top: 3rem;
}
.nav-secondary {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.0625rem;
}
.nav-secondary li {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 0.3em;
  max-height: 1rem;
  color: var(--main-whitecolor);
  border-radius: 0.5em;
  background-color: var(--main-bluecolor);
}
.nav-secondary li a {
  color: var(--main-whitecolor);
}
.mobile-nav {
  display: none;
}
/* classes that is to be hidden */
.mobile-hide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-hide {
  display: none;
}

/* main content styling goes here */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  max-width: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 0.55rem;
  background-color: var(--main-whitecolor);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0, 0.12) !important;
}
.product-name {
  padding: 15px;
  font-size: 22px;
  text-align: left;
}
.product-image {
  width: 100%;
}
.product-description {
  padding: 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}
.product-price {
  margin: 10px 0;
  padding-right: 20px;
  font-size: 1.6rem;
  text-align: right;
  font-weight: 600;
}
.product-price small {
  display: block;
  font-size: 0.9rem;
  padding-top: 10px;
  font-weight: 300;
}
.preview-products {
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  justify-content: center;
  margin: 1.5rem 0rem 1.5625rem 0rem;
  gap: 1rem;
  max-width: 100%;
}
.card {
  background-color: var(--main-whitecolor);
  display: flex;
  flex-direction: column;
  box-shadow: 0.3125rem 0.3125rem 0.625rem 0.3125rem rgba(7, 7, 7, 0.75);
  padding-bottom: 2.5rem;
}
.btn {
  background: linear-gradient(135deg, #0a3641 5%, #298096 90%);
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  width: 14rem;
  letter-spacing: 0.11rem;
  outline: none;
  transition: 0.2s;
  box-shadow: 3px 3px 6px #38373785;
}
.btn:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
  cursor: pointer;
}
.show {
  color: var(--main-black);
}

.product {
  margin: 1rem;
  padding: 1rem;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  min-width: 200px;
  position: relative;
}

.product i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}

.product i.fa {
  color: darkred;
}

.cart-button {
  padding: 15px;
  margin: 15px;
  width: 90%;
  border-radius: 10px;
  background-color: #0d6980;
  text-transform: uppercase;
}
.cart-button:hover {
  background: var(--main-bluecolor);
}

/* Cart */
.cart {
  height: auto;
  width: 300px;
  position: absolute;
  top: 90px;
  right: 45px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.cart-list {
  padding: 10px;
}

.cart-item {
  display: flex;
  margin: 10px 0;
}

.cart-checkout {
  padding: 5px;
  text-align: right;
}

.cart-total {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.cart-image {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.cart-details {
  padding: 10px;
}

.cart-checkout-link {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #0a3641;
  text-align: center;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.cart-toggle {
  padding: 7px 15px;
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0a3641;
}

.hidden {
  display: none;
}
/* footer styling goes here */
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--main-whitecolor);
  border-top: 0.0625rem solid var(--main-black);
  align-items: center;
}
.bob {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.contact-us,
.about-us {
  padding: 10px 0;
  display: flex;
  gap: 0.3125rem;
  justify-content: center;
  align-items: center;
}
.contact-us,
.about-us h4 {
  padding: 5px 0;
  color: var(--main-bluecolor);
  text-decoration: underline;
}
.fas.fa-envelope,
.fas.fa-info-circle {
  color: var(--main-bluecolor);
  font-size: 2.5rem;
}
.frida {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid red;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 50%;
  transform: translateX(-50%);
}
.product-details {
  border: 1px solid grey;
  margin: 60px auto;
  background-color: whitesmoke;
  max-width: 860px;
}

.content-container {
  max-width: 760px;
  margin: 0 auto;
}
.breadcrumb-nav a {
  text-decoration: underline;
  color: black;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}