@import url("https://fonts.googleapis.com/css?family=Poppins:500,400,300,200|Montserrat:500,500italic");
:root {
    --main-bluecolor: #0a3641;
    --main-whitecolor: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body styling goes here */

html,
body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bluecolor);
    width: 100vw;
    height: 100vh;
    font-family: Poppins;
    overflow: hidden;
}

.header {
    background-color: var(--main-whitecolor);
    display: flex;
    border-bottom: 0.12rem solid #000;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
}


/* logo styling here */

.logo-desktop {
    display: flex;
    align-items: flex-start;
}

.logo-mobile {
    display: none;
}

.logo-sm {
    width: 10rem;
}

.container-fluid {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.nav-container {
    display: block;
}


/* search bar styling here */

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--main-bluecolor);
    border-radius: 0.5rem;
}

.search-col {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 0.5rem;
    width: 1.9rem;
    justify-content: space-around;
}

.search-here {
    letter-spacing: 0;
    line-height: 0.075rem;
    margin-bottom: 0.1rem;
    min-height: 0.5rem;
    width: 100%;
    white-space: nowrap;
    padding: 0rem 0 0 1rem;
    color: #fff;
    display: flex;
}

.input-search {
    border: none;
    padding: 0;
    width: 100%;
    height: 1.85rem;
    border-radius: 0.9rem;
    background-color: var(--main-bluecolor);
    color: #fff;
    outline: none;
}

input::placeholder {
    color: #fff;
}

.searchbtn {
    background: var(--main-bluecolor);
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas {
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}


/* menu and nav styling */

.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    margin-bottom: 0.5rem;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    list-style: none;
}

.menu ul a {
    color: #000;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.menu ul a:hover {
    color: #fff;
    border-radius: 0.5rem;
    background-color: var(--main-bluecolor);
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

.quick-nav {
    padding-top: 3.8rem;
}

.nav-secondary {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.0625rem;
}

.nav-secondary li {
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 0.3em;
    max-height: 1rem;
    color: #fff;
    border-radius: 0.5em;
    background-color: var(--main-bluecolor);
}

.nav-secondary li a {
    color: #fff;
}

.mobile-nav {
    display: none;
}

.mobile-hide {
    display: flex;
}

.desktop-hide {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: none;
}


/* main content styling goes here */

main {
    flex: 1 0 auto;
    overflow-y: auto;
    height: 0px;
}

.preview-products {
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    justify-content: center;
    margin: 1.5rem 0rem 1.5625rem 0rem;
    gap: 1rem;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 0.125rem solid #000;
    box-shadow: 0.3125rem 0.3125rem 0.625rem 0.3125rem rgba(7, 7, 7, 0.75);
    padding-bottom: 2.5rem;
}

.card h3,
p {
    align-self: center;
}

.buy {
    background-color: var(--main-bluecolor);
    display: flex;
    align-items: center;
    padding: 1em;
    max-height: 1rem;
    color: #fff;
    border-radius: 0.5em;
    border: none;
    align-self: center;
}

.buy:hover {
    color: #fff;
    background-color: #000;
}

.add-to-cart,
.d-none {
    display: none;
}

label:hover {
    cursor: pointer;
}

.d-none {
    border: 1px solid #fff;
    position: relative;
    right: 10px;
    padding: 10px;
    background-color: var(--main-bluecolor);
    color: var(--main-whitecolor)
}

.add-to-cart:checked~.d-none {
    display: block;
}


/* footer styling goes here */

.footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top: 0.0625rem solid #000;
    align-items: center;
    height: 10vh;
}

.bob {
    display: flex;
    gap: 1rem;
}

.contact-us,
.about-us {
    display: flex;
    gap: 0.3125rem;
}

.contact-us,
.about-us h4 {
    color: var(--main-bluecolor);
    text-decoration: underline;
}

.fas.fa-envelope,
.fas.fa-info-circle {
    color: #0a3641;
    font-size: 2.5rem;
}