.preview-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 10px;
  background-color: #000;
  color: #fff;
}

.card {
  border: 1px #bb0000 solid;
  width: 500px;
  height: 230px;
  text-align: center;
  padding-top: 15px;
}

.preview-products {
  display: flex;
  cursor: pointer;
  height: auto;

  justify-content: center;
  margin: 35px 25px 25px 25px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 8px;
  border: 1px solid #000;
  box-shadow: 5px 5px 10px 5px rgba(7, 7, 7, 0.75);
  height: auto;
}

.rainyday-logo {
  height: 205px;
  width: 264px;
  display: flex;
  padding-left: 25px;
}

.horisontal-nav,
#hamburger {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

nav ul {
  padding-bottom: 10px;
  padding-left: 15px;
}

nav li {
  display: inline-block;
  background-color: #0a3641;
  color: #fff;
  font-size: 1em;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: #000;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  body {
    display: flex;
    background-color: #594e3c;
  }

  .header {
    align-items: flex-end;
    background: #ffffff;
    display: flex;
    height: 107px;
    padding: 21px 2px;
  }

  .rainyday-logo {
    height: 72px;
    object-fit: cover;
    width: 123px;
  }
  /* search bar styling */
  .search-bar {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 23px;
    min-width: 356px;
    padding: 0.5px 6.3px;
  }

  .search-here {
    align-self: flex-end;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    min-height: 19px;
    min-width: 78px;
    white-space: nowrap;
  }

  .horisontal-nav {
    align-items: flex-start;
    display: flex;
    min-width: 331px;
  }

  /* bottom navigation on mobile */
  .quick-nav {
    align-items: flex-end;
    background-color: #ffffff;
    display: flex;
    height: 48px;
    justify-content: flex-end;
    min-width: 360px;
    padding: 0 22px;
  }

  .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.5px;
    min-height: 46px;
    width: 38px;
  }

  .icon-ionic-md-home {
    display: flex;
    height: 25px;
    margin-left: 4px;
    width: 27px;
  }

  .icon-ionic-md-home-1 {
    flex: 1;
    margin-bottom: -0.7px;
    margin-left: -1.9px;
    margin-right: -1.9px;
    margin-top: -1px;
    object-fit: cover;
    width: 31.21px;
  }

  .place {
    letter-spacing: 0.12px;
    line-height: 12px;
    margin-top: 1px;
    min-height: 19px;
    white-space: nowrap;
  }

  .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.5px;
    margin-left: 33px;
    min-height: 47px;
    width: 73px;
  }

  .icon-user-alt {
    cursor: pointer;
    display: flex;
    height: 25px;
    margin-right: 2.06px;
    width: 27px;
  }

  .icon-user-alt-1 {
    flex: 1;
    margin-bottom: -0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
    margin-top: -0.8px;
    object-fit: cover;
    width: 28.88px;
  }

  .my-account {
    letter-spacing: 0.12px;
    line-height: 12px;
    margin-top: 3px;
    min-height: 19px;
    min-width: 73px;
    white-space: nowrap;
  }

  .flex-col-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.5px;
    margin-left: 18px;
    min-height: 46px;
    width: 49px;
  }

  .icon-shopping-basket {
    cursor: pointer;
    display: flex;
    height: 25px;
    margin-right: 2.95px;
    width: 27px;
  }

  .icon-shopping-basket-1 {
    flex: 1;
    margin-bottom: -0.7px;
    margin-left: -0.8px;
    margin-right: -0.8px;
    margin-top: -0.8px;
    object-fit: cover;
    width: 28.89px;
  }

  .my-cart {
    letter-spacing: 0.12px;
    line-height: 12px;
    margin-top: 1px;
    min-height: 19px;
    min-width: 49px;
    white-space: nowrap;
  }

  .flex-col-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.5px;
    margin-left: 35px;
    min-height: 46px;
    width: 57px;
  }

  .icon-favorite {
    display: flex;
    height: 25px;
    margin-right: 2.26px;
    width: 27px;
  }

  .icon-favorite-1 {
    flex: 1;
    margin-bottom: -1px;
    margin-left: -0.8px;
    margin-right: -0.7px;
    margin-top: -0.7px;
    object-fit: cover;
    width: 28.88px;
  }

  .favorites {
    letter-spacing: 0.12px;
    line-height: 12px;
    margin-top: 1px;
    min-height: 19px;
    min-width: 57px;
    white-space: nowrap;
  }
}
