header,
footer {
  background-color: #000;
  color: #fff;
}

.logo {
  display: flex;
  justify-content: left;
}

.logo img {
  width: 80%;
}

.header-text {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: monospace;
  padding-left: 15px;
}
/* navigation */
.navi {
  display: flex;
  justify-content: center;
}

nav ul {
  padding-bottom: 10px;
  padding-left: 15px;
}

nav li {
  display: inline-block;
  background-color: #7e0303;
  color: #fff;
  font-size: 1em;
  padding: 10px 50px;
  border-radius: 10px;
}
/* links */

a {
  text-decoration: none;
}
header a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #000;
}

main {
  background-color: #000;
  color: #fff;
}

h1 {
  text-align: center;
}

/* hjem siden */

.content-text {
  padding: 5px 20px 5px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.preview-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 10px;
  background-color: #000;
  color: #fff;
}

.preview-products div {
  border: 1px #bb0000 solid;
  width: 500px;
  height: 230px;
  text-align: center;
  padding-top: 15px;
}

.vis-alle {
  background-color: #bb0000;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
}

img {
  width: 40%;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  height: 35px;
  padding-top: 15px;
}
